--
-- PostgreSQL database dump
--

\restrict jFn3sWUatTcPgEidPPp6d9hGf3VaK4pBobk9K9FHpBfTS1OIQKClICBST0WP80e

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE'
);


--
-- Name: Goal; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Goal" AS ENUM (
    'WEIGHT_LOSS',
    'MUSCLE_GAIN',
    'MAINTENANCE'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Exercise; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Exercise" (
    id text NOT NULL,
    activity text NOT NULL,
    duration integer NOT NULL,
    "caloriesBurned" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


--
-- Name: Meal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Meal" (
    id text NOT NULL,
    name text NOT NULL,
    calories integer NOT NULL,
    category text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


--
-- Name: Meditation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Meditation" (
    id text NOT NULL,
    mood integer NOT NULL,
    duration integer NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    height double precision NOT NULL,
    weight double precision NOT NULL,
    "birthDate" timestamp(3) without time zone NOT NULL,
    gender public."Gender" NOT NULL,
    goal public."Goal" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Data for Name: Exercise; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Exercise" (id, activity, duration, "caloriesBurned", "createdAt", "updatedAt", "userId") FROM stdin;
\.


--
-- Data for Name: Meal; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Meal" (id, name, calories, category, "createdAt", "updatedAt", "userId") FROM stdin;
4e62c969-850e-49a9-bde8-863091ffd1fb	Batatas fritas com ketchup	300	SNACK	2026-06-25 22:16:26.863	2026-06-25 22:16:26.863	30685e2b-b2f9-41c4-b104-c46ad5eeb8cc
\.


--
-- Data for Name: Meditation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Meditation" (id, mood, duration, notes, "createdAt", "updatedAt", "userId") FROM stdin;
\.


--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RefreshToken" (id, token, "userId", "expiresAt") FROM stdin;
9c14f89d-6a0b-4b75-bfa3-e062ed9a17ac	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIzMDY4NWUyYi1iMmY5LTQxYzQtYjEwNC1jNDZhZDVlZWI4Y2MiLCJpYXQiOjE3ODI0MjU2ODIsImV4cCI6MTc4MzAzMDQ4Mn0.myv0vvwB1EmkmdAyTDc_dsG-_g6-q5ZccC8fFaPcmPs	30685e2b-b2f9-41c4-b104-c46ad5eeb8cc	2026-07-02 22:14:42.938
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."User" (id, name, email, password, role, height, weight, "birthDate", gender, goal, "createdAt", "updatedAt") FROM stdin;
30685e2b-b2f9-41c4-b104-c46ad5eeb8cc	Adv├ónia Soares	edsoares1@gmail.com	$2b$10$jdyqKVECNoO.gExlcx2xU.PRC2ctQ4gzovMdgP070cn2XqNkuMVkC	USER	175	81	1997-01-12 00:00:00	FEMALE	WEIGHT_LOSS	2026-06-25 22:14:29.532	2026-06-25 22:14:29.532
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
63329b37-f797-4fc6-9ed0-b3ef463100f1	2503df667113611970e03535984850154a710cce05c132f2c3051ccb534bd050	2026-06-25 21:03:19.923669+00	20260602185410_init	\N	\N	2026-06-25 21:03:19.037716+00	1
a5f23942-92d8-4406-b2f8-0ade1974872d	0faae3001f21183f478374e431920436831f523f32e074ca44dd06b641735198	2026-06-25 21:03:20.200443+00	20260615205652_add_unique_to_refresh_token	\N	\N	2026-06-25 21:03:19.957718+00	1
\.


--
-- Name: Exercise Exercise_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Exercise"
    ADD CONSTRAINT "Exercise_pkey" PRIMARY KEY (id);


--
-- Name: Meal Meal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Meal"
    ADD CONSTRAINT "Meal_pkey" PRIMARY KEY (id);


--
-- Name: Meditation Meditation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Meditation"
    ADD CONSTRAINT "Meditation_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: RefreshToken_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "RefreshToken_expiresAt_idx" ON public."RefreshToken" USING btree ("expiresAt");


--
-- Name: RefreshToken_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "RefreshToken_token_idx" ON public."RefreshToken" USING btree (token);


--
-- Name: RefreshToken_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "RefreshToken_token_key" ON public."RefreshToken" USING btree (token);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Exercise Exercise_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Exercise"
    ADD CONSTRAINT "Exercise_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Meal Meal_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Meal"
    ADD CONSTRAINT "Meal_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Meditation Meditation_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Meditation"
    ADD CONSTRAINT "Meditation_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict jFn3sWUatTcPgEidPPp6d9hGf3VaK4pBobk9K9FHpBfTS1OIQKClICBST0WP80e

